@import '../../assets/stylesheets/variables_/palette';
@import '../../assets/stylesheets/mixins/responsive';

.instructor-bio-collection__ {

  &container__ {
    background-color: $dark-blue;

    &title {
      color: $white;
      font-family: 'GothamMedium', serif;
      font-weight: 350;
      line-height: 36px;
      font-size: 30px;
      text-align: center;
      padding: 54px 0 5px !important;
    }

    &title-border {
      height: 4px;
      width: 400px;
      background-color: $white;
      margin: 0 auto 80px;
      color: $invisible;

      @include on-mobile {
        width: calc(100% - 64px);
      }
    }

    &items-box {
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
    }
  }
}
