@import "src/assets/stylesheets/mixins/responsive";

.youtube-player__ {
  height: 100vh;
  width: 100vw;
  pointer-events: none;

  video {
    width: 100vw !important;
    height: 100vh !important;
    left: 0 !important;
    top: 0 !important;
    object-fit: fill;
  }
}
