@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.apparel-catalog__ {

  &container__ {

    padding: 0 175px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkturquoise;

    @include on-medium-device {
      padding: 0 48px 80px;
    }

    @include on-mobile {
      padding: 0 24px 80px;
    }

    &title {
      color: $blue-grey;
      font-family: 'GothamMedium', serif;
      font-weight: 350;
      line-height: 36px;
      font-size: 30px;
      text-align: center;
      padding: 54px 0 5px !important;
    }

    &title-border {
      height: 4px;
      width: 400px;
      background-color: $ice-blue;
      margin: 0 auto 50px;
      color: $invisible;

      @include on-mobile {
        width: calc(100% - 64px);
      }
    }

    &items-box {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      @include on-mobile {
        display: block;
      }
    }
  }
}
