@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.subscription-plan-selector-modal__ {
  max-height: 100vh;

  &container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 841px;
    background-color: $white;
    border-radius: 8px;
    position: relative;
    overflow-y: auto;

    @media (max-height: 800px) and (min-width: 720px) {
      transform: scale(0.75);
    }

    @include on-medium-device {
      width: 696px;
      padding: 24px;
    }

    @include on-mobile {
      max-height: calc(100vh - 48px);
      width: calc(100vw - 48px);
      margin: 24px 0;
      display: block;
    }
  }

  &close {
    position: absolute;
    right: 42px;
    top: 42px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    @include on-medium-device {
      right: 26px;
      top: 26px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &title {
    font-family: "GothamMedium", sans-serif;
    font-weight: 350;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $blue-grey;
    padding: 0;
    margin: 40px 0 0;

    @include on-medium-device {
      font-weight: 350;
      font-size: 24px;
      line-height: 29px;
    }

    @include on-mobile {
      margin-top: 35px;
    }
  }

  &title-underline {
    margin: 16px 0;
    width: 400px;
    height: 4px;
    background-color: $ice-blue;
    color: white;

    @include on-mobile {
      width: 100%;
    }
  }

  &sub-title {
    font-family: "Open Sans", serif;
    font-weight: normal;
    color: $blue-grey;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 528px;
    margin-top: 16px;

    @include on-mobile {
      width: 100%;
    }
  }

  &login__ {
    &text {
      margin-top: 16px;
      font-family: "Open Sans", serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      text-align: center;
      color: $blue-grey;
    }

    &link {
      margin-left: 10px;
      font-weight: 400;
      color: $cerulean;
      text-decoration: underline;
      margin-top: 16px;
    }
  }

  &second-title__ {
    &container {
      display: flex;
      width: 713px;
      margin-top: 32px;
      align-items: center;
      flex: 0;

      @include on-medium-device {
        width: 600px;
      }
      @include on-mobile {
        width: 100%;
        margin-top: 24px;
      }
    }

    &line {
      flex: 1;
      height: 1px;
      background-color: $blue-nautica;
      @include on-mobile {
        display: none;
      }
    }

    &title {
      font-family: Gothambook, serif;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $blue-nautica;
      margin: 0 16px;
      @include on-mobile {
        margin: 0;
        width: 100%;
      }
    }
  }

  &plan-details__ {
    &container {
      margin-top: 16px;
      display: flex;
      width: 713px;
      justify-content: space-between;
      align-items: center;
      @include on-medium-device {
        width: 614px;
      }
      @include on-mobile {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }

    &wrapper {
      width: 332.5px;
      display: flex;
      align-items: center;
      @include on-medium-device {
        width: 276.32px;
      }
      @include on-mobile {
        width: 100%;
        justify-content: center;
        margin-top: 16px;
      }
    }

    &icon {
      width: 32px;
      height: 32px;
    }

    &text {
      margin-left: 12px;
      width: 288.5px;
      font-family: "Open Sans", serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      text-align: left;
      color: $blue-grey;
    }

    &closing-line {
      width: 713px;
      height: 1px;
      background-color: $blue-nautica;
      margin-top: 16px;
      @include on-medium-device {
        width: 600px;
      }
      @include on-mobile {
        width: 100%;
      }
    }
  }

  &plans-container {
    display: flex;
    margin-top: 32px;
    width: 730px;
    justify-content: space-between;
    @include on-medium-device {
      width: 648px;
    }
    @include on-mobile {
      flex-direction: column;
      width: 100%;
      margin-top: 0;
      justify-content: flex-start;
    }

    &--onePlan {
      justify-content: center;
    }
  }

  &plan__ {
    width: 349px;
    box-shadow: 0 2px 8px $shadow-25;
    border-radius: 5px;
    cursor: pointer;
    border: $transparent 4px solid;
    @include on-medium-device {
      width: 308px;
    }
    @include on-mobile {
      width: 100%;
      margin-top: 24px;
    }

    &:hover {
      border: $cerulean 4px solid;
    }

    &:hover &title__container {
      background-color: $cerulean;
    }

    &:hover &title__text {
      color: $white;
    }

    &:hover &title__most-popular__container {
      background-color: $white;

      p {
        color: $black;
      }
    }

    &title__ {
      &container {
        background-color: $soft-light-blue50;
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: space-between;
      }

      &text {
        font-family: "GothamBook", serif;
        font-size: 22px;
        line-height: 26px;
        text-align: left;
        color: $blue-grey;
        margin-bottom: 0;
      }

      &most-popular__ {
        &container {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $cerulean;
          border-radius: 100px;
          padding: 2px 12px;
        }

        &text {
          font-family: "Open Sans", serif;
          font-size: 14px;
          text-align: left;
          color: $white;
        }
      }
    }

    &body-container {
      padding: 24px;
    }

    &price__ {
      &container {
        display: flex;
        align-items: center;
      }

      &number {
        font-family: "Open Sans", serif;
        font-size: 30px;
        font-weight: 600;
        text-align: left;
        color: $blue-grey;
        margin: 0 16px 0 0;
        padding: 0;

        &__container {
          border-right: $black 1px solid;
        }

        &-strikethrough {
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          color: $slate-grey;
          text-decoration: line-through;
        }
      }

      &description {
        font-family: "Open Sans", serif;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-left: 16px;
        color: $blue-grey;
        width: 157px;
      }
    }

    &description__ {
      &container {
        width: 100%;
        border-top: 1px solid $black;
        display: flex;
        align-items: center;
        margin: 12px 0;
      }

      &text {
        padding: 36px 0;
        font-family: "Open Sans", serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: $blue-grey;
      }
    }

    &add-to-cart {
      width: 100%;
    }
  }
}
