@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.subscriptionDetails__ {
  &description {
    width: 480px;
    padding: 0 0 24px;
    margin-top: 24px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: $blue-grey;
    border-bottom: 2px solid $grey;
    @include on-medium-device {
      width: 95%;
    }
  }

  &button {
    width: 200px;
    margin: 32px 0 16px;
  }

  &loginCopy {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin: 0;

    a {
      color: $cerulean;
      text-decoration: underline;
      font-weight: 600;
      margin-left: 8px;
    }
  }
}
