@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.header__ {
  &container {
    // because the library we are using on the hero library we need to use z-index 3
    z-index: 3;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $black;
    transition: ease-in-out 0.3s;

    &--with-ribbon {
      padding-top: 46px;
    }

    @include on-mobile {
      &--with-ribbon {
        padding-top: 68px;
      }
    }
  }

  &inner_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 48px;
    height: 72px;

    @include on-medium-device {
      padding: 0 24px;
    }
  }

  &row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80px;

      img {
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }

      @include on-medium-device {
        flex: 1;
        justify-content: flex-end;
      }

      @include on-mobile {
        flex: 1;
        justify-content: flex-end;
      }

      &__avatar {
        @include on-medium-device {
          margin-right: 15px;
        }
      }
    }
  }

  &wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: $black;

    & > a {
      display: flex;
      align-items: center;
    }
  }

  &hamburger {
    display: none;
    align-items: center;
    margin-right: 24px;

    @include on-medium-device {
      display: flex;
    }

    @include on-mobile {
      display: flex;
    }
  }

  &logo {
    width: 160px;
    height: auto;
  }
}
