@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.weights__ {
  &container {
    width: 160px;
    height: 48px;
    position: relative;
  }

  &select {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 16px 36px 4px 16px;
    border: 1px solid $slate-grey;
  }

  &option {
    font-family: "Open Sans", serif;
    font-size: 14px;
    color: $blue-grey;
  }

  &title {
    position: absolute;
    top: 4px;
    left: 16px;
    font-family: "Open Sans", serif;
    font-size: 10px;
    color: $slate-grey;
    margin: 0;
    padding: 0;
  }
}
