@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.mobile-stores-links__ {
  &content{
    margin:144px auto;
    max-width: 568px;

    @include on-medium-device {
      margin: 144px 120px;
    }

    @include on-mobile {
      margin: 80px 24px;
    }
  }

  &header-title {
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: $black;
    text-align: center;
    padding: 48px 0 5px !important;
  }

  &title-border {
    height: 4px;
    width: 400px;
    background-color: $soft-light-blue !important;
    margin: 24px auto 28px;
    color: $invisible;

    @include on-mobile {
      width: calc(100% - 64px);
    }
  }

  &body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $stale-grey;
    margin: 28px 0;
    text-align: center;
  }

  &store-links {
    display: flex;
    justify-content: center;
  }

  &store-link {
    margin: 40px 12px;
  }

  &store-link-img {
    width: 135px;
    height: 40px;
  }

  &footer-waves {
    background-image: url("../../assets/images/waves.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 186px;
  }
}
