@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.flash-message__ {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100vw;
  text-align: center;
  padding: 12px 0;

  h4 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &with-header {
    top: 72px;

    @include on-mobile {
      top: 56px;
    }
  }

  &with-header-subnav {
    top: 128px;

    @include on-mobile {
      top: 112px;
    }
  }

  &with-ribbon-header {
    top: 118px;

    @include on-mobile {
      top: 122px;
    }
  }

  &with-ribbon-header-subnav {
    top: 174px;

    @include on-mobile {
      top: 180px;
    }
  }

  &success {
    background: $flash-msg-success;
    animation-name: vanish;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  &error {
    background: $flash-msg-error;
    display: block;
  }
}

@keyframes vanish {
  0% {
    visibility: hidden
  }
  1% {
    visibility: initial
  }
  100% {
    visibility: hidden
  }
}
