@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.subscription-plan-box__ {
  display: flex;
  flex-direction: column;
  height: 112px;
  box-shadow: 0 2px 8px $shadow-25;
  border-radius: 5px;
  cursor: pointer;
  margin: 24px 4px 4px 4px;
  background-color: $cerulean;

  &--selected {
    border: $cerulean 4px solid;
    margin: 24px 0px 4px 0px;
  }

  &--selected &container {
    padding: 14px 24px;
    background-color: $light-blue;
  }

  &:hover {
    border: $cerulean 4px solid;
    margin: 24px 0px 4px 0px;
  }

  &:hover &body__title__most-popular__container {
    background-color: $black;
  }

  &container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 26px 24px;
    background-color: white;
  }

  &body-container {
    display: flex;
  }

  &price__ {
    &number {
      font-family: "Open Sans", serif;
      font-size: 30px;
      font-weight: 600;
      margin: 0;
      text-align: left;
      color: $blue-grey;
    }

    &description {
      font-family: "Open Sans", serif;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: $blue-grey;
    }
  }

  &separator {
    width: 1px;
    height: 64px;
    margin: 0 24px;
    background-color: $black;
  }

  &body__ {
    &container {
      flex: 2;
    }

    &title__ {
      &container {
        width: 100%;
        display: flex;
        align-items: center;
      }

      &text {
        font-family: "GothamBook", serif;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        color: $cerulean;
        text-transform: uppercase;
        margin: 0;
      }

      &most-popular__ {
        &container {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $cerulean;
          border-radius: 100px;
          padding: 0px 12px;
          margin-left: 24px;
        }

        &text {
          font-family: "Open Sans", serif;
          font-size: 10px;
          text-align: left;
          color: $white;
        }
      }
    }

    &description__ {
      &text {
        margin-top: 8.5px;
        font-family: "Open Sans", serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: $blue-grey;
      }
    }
  }

  &cta {
    width: 176px;
    height: 40px;
    background: $transparent;
    font-family: "OpenSansCondensed", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    color: $cerulean;
    border: 1px solid $cerulean;
    border-radius: 2px;
    padding: 10px 24px;
    cursor: pointer;

    p {
      display: flex;
      align-items: center;

      img {
        margin-right: 7px;
      }
    }

    &:hover,
    &--focus {
      background-color: $cerulean;
      border: 1px solid $cerulean;
      color: $white;
    }
  }

  &footer__ {
    &container {
      background-color: $cerulean;
    }

    &text {
      font-family: "GothamBook", serif;
      color: $white;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
    }
  }
}
