@import "../../../assets/stylesheets/variables_/palette";
@import "../../../assets/stylesheets/mixins/responsive";

.product-reviews-info__ {
  &container__ {
    display: flex;
    align-items: center;
    margin-top: 13px;

    &score {
      margin: 0 10px;
      font-family: "Open Sans", sans-serif;
      color: $blue-grey;
      font-weight: 400;
      font-size: 14px;
    }

    &link {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $stale-grey;
      display: flex;
      align-items: center;
      text-decoration-line: underline;
      text-transform: capitalize;
    }
  }
}
