@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.productAccordion__ {
  &arrowIcon {
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/images/accordionArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &headerText {
    font-family: GothamMedium, serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &bodyText {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 24px;
    color: $black-two;
  }
}
