@import "../../../assets/stylesheets/variables_/palette";
@import '../../../assets/stylesheets/mixins/responsive';

.productCarousel__ {
  &container {
    height: calc(100vh - 290px);

    @include on-medium-device {
      height: 440px;
    }

    @include on-mobile {
      height: 328px;
    }
  }

  &footer {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80px;

    @include on-medium-device {
      margin: 32px 0 27px;
      height: 56px;
    }
    @include on-mobile {
      margin: 32px 0 40px;
      height: 83px;
    }
  }

  &footer__ {
    &container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 532px;
      @include on-medium-device {
        width: 592px;
      }
      @include on-mobile {
        width: 327px;
      }
    }

    &backButton {
      width: 21px;
      height: 10px;
      background-image: url("../../../assets/images/productCarouselLeftArrow.png");
      background-size: contain;
      background-color: unset;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
    }

    &forwardButton {
      width: 21px;
      height: 10px;
      margin-left: 28px;
      background-image: url("../../../assets/images/productCarouselRightArrow.png");
      background-size: contain;
      background-color: unset;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;
    }

    &title {
      margin: 0;
      padding: 0 25px;
      font-family: GothamMedium, serif;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      color: black;
      text-align: center;
      flex: 1;
    }

    &slideNumber {
      margin: 0;
      padding: 0;
      font-family: GothamMedium, serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 1px;
      text-align: center;
      width: 54px;
    }
  }
}
