@import "../../../assets/stylesheets/variables_/palette";
@import '../../../assets/stylesheets/mixins/responsive';

.productHeader__ {
  &text {
    font-family: GothamMedium, serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0.1px;
    color: $black-two;
    margin: 0;
    padding: 0;

    @include on-mobile {
      font-size: 28px;
    }
  }
}
