@import "../../../assets/stylesheets/variables_/palette";
@import '../../../assets/stylesheets/mixins/responsive';

.productDescription__ {
  &text {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 24px;
    color: $black-two;
    margin: 24px 0 0;
    padding: 0 0 32px;
    border-bottom: $grey 1px solid;
    width: 480px;
    @include on-medium-device {
      width: 512px;
      font-size: 16px;
    }
    @include on-mobile {
      width: calc(100vw - 48px);
      img{
        max-width: calc(100vw - 48px);
      }
    }
  }
}
