@import "../../../assets/stylesheets/variables_/palette";
@import "../../../assets/stylesheets/mixins/responsive";

.product-thumbnails__ {
  &container__ {
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;

    &thumbnail {
      width: 25%;
      height: 110px;
      object-fit: contain;
      border: 3px solid $background-grey;

      &--active {
        border-color: $stale-grey;
        border-radius: 0;

        &:hover {
          border-color: $stale-grey;
        }
      }

      &:hover {
        cursor: pointer;
        border-color: $light-grey;
        border-radius: 0;
      }
    }
  }
}
