@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.upSellsSection__ {
  &title {
    margin: 80px 0 0 !important;
    padding: 0;
    font-family: GothamBook, serif;
    font-size: 30px;
    text-align: center;
    color: $blue-grey;
  }

  &underLine {
    margin-top: 24px;
    width: 400px;
    height: 4px;
    background-color: $ice-blue;
  }

  &product__ {
    &container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px;
    }

    &wrapper {
      cursor: pointer;
      box-shadow: 0 4px 32px 0 $shadow-25;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 32px;
      width: 248px;
    }

    &image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 176px;
      width: 100%;
    }

    &name {
      font-family: GothamBook, serif;
      font-size: 24px;
      text-align: center;
      color: $black;
      margin-top: 24px;
      padding: 0;
    }

    &price {
      margin-top: 8px;
      padding: 0;
      font-family: GothamBook, serif;
      font-size: 24px;
      text-align: center;
      color: $cerulean;
    }

    &priceComment {
      font-family: 'Open Sans', serif;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      text-align: center;
      color: $warm-grey-middle;
    }

    &bundle__ {
      &container {
        display: flex;
        flex-direction: column;
        height: 175px;
        align-items: center;
      }

      &division {
        width: 200px;
        height: 1px;
        background-color: $slate-grey;
        margin-top: 12px;
      }

      &includes {
        margin: 12px 0 4px;
        font-family: Gotham, serif;
        font-size: 14px;
        text-align: center;
        color: $blue-grey;
      }

      &name {
        margin-bottom: 8px;
        font-family: 'Open Sans', serif;
        font-size: 14px;
        text-align: center;
        color: $stale-grey;
        padding: 0 32px;
      }
    }

    &button {
      width: 200px;
      margin: 24px 0 32px;
    }
  }
}
