@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.upSellsPage__ {
  &container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
