@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.contact-field__ {
  &container {
    display: flex;
    justify-content: center;
    background-color: $dark_blue;
  }

  &inner-container {
    display: flex;
    justify-content: center;
    max-width: 1270px;
    width: 100%;
    padding: 54px 128px;

    @include on-medium-device {
      padding: 48px 88px;
      flex-direction: column;
    }

    @include on-mobile {
      padding: 32px 24px;
    }
  }

  &text__ {
    &container {
      flex: 2.5;

      @include on-medium-device {
        flex-direction: column;
      }
    }

    &title {
      font-family: "GothamMedium", sans-serif;
      color: $white;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 16px;

      @include on-medium-device {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
      }
    }

    &description {
      font-size: 22px;
      line-height: 32px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      color: $white;

      @include on-medium-device {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  &cta_field__ {
    text-decoration: none;

    &container {
      padding: 0 0 0 20px;
      flex: 2;
      display: flex;
      align-items: center;

      @include on-medium-device {
        padding: 0;
        justify-content: left;
        margin-top: 32px;
      }

      @include on-mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &input {
      margin: 0;
      width: 100%;
      max-width: 100%;

      @include on-medium-device {
        max-width: 60%;
      }

      @include on-mobile {
        max-width: 100%;
      }

      input {
        height: 40px;
        text-transform: none;
      }
    }

    &cta {
      height: 40px;
      margin-left: 24px;

      @include on-mobile {
        margin-top: 24px;
        margin-left: 0;
      }
    }
  }
}
