@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.apparel__ {
  &container {
    display: flex;
    margin-top: 28px;
    align-items: center;
  }

  &optionsDetails__ {
    &wrapper {
      @include on-mobile {
        width: 95%;
      }
    }

    &price__ {
      &container {
        display: flex;
      }

      &text {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.8999999761581421px;
        color: $cerulean;
      }

      &subText {
        margin-left: 12px;
        font-family: 'Open Sans', serif;
        font-size: 12px;
        letter-spacing: 0.2571428716182709px;
      }
    }

    &description {
      margin-top: 16px;
      width: 480px;
      font-family: 'Open Sans', serif;
      font-size: 14px;
      line-height: 22px;
      color: $black;
      @include on-medium-device {
        width: 512px;
      }
      @include on-mobile {
        width: 100%;
      }
    }

    &sizeAndQty {
      display: flex;
      margin-top: 16px;
      width: 548px;
      @include on-mobile {
        width: 100%;
      }
    }
  }

  &image {
    margin-left: 16px;
    width: 200px;
    height: 159px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
