@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.monitorWoodType__ {
  &container {
    margin-top: 28px;
    width: 480px;
    @include on-medium-device {
      width: 512px;
    }
    @include on-mobile {
      width: 100%;
    }
  }

  &details__ {
    &container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include on-mobile {
        flex-direction: column;
      }
    }

    &textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &priceContainer {
      display: flex;
    }

    &price {
      font-family: "Open Sans", serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.8999999761581421px;
      text-align: left;
      color: $cerulean;
    }

    &priceComment {
      font-family: "Open Sans", serif;
      font-size: 12px;
      letter-spacing: 0.2571428716182709px;
      text-align: left;
      color: $slate-grey;
      margin-left: 12px;
    }

    &description {
      font-family: "Open Sans", serif;
      font-size: 14px;
      line-height: 22px;
      color: $black;
      width: 296px;
      @include on-mobile {
        width: 100%;
      }
    }

    &image {
      width: 168px;
      height: 164px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include on-medium-device {
        height: 164px;
        width: 200px;
      }
      @include on-mobile {
        width: 100%;
        height: 200px;
      }
    }
  }

  &title {
    margin-top: 12px;
  }

  &subTitle {
    font-weight: normal;
    font-style: italic;

    a {
      text-decoration: underline;
    }
  }

  &select {
    height: 48px;
    width: 480px;
    margin-top: 12px;
    border-radius: 5px;
    padding: 4px 36px 4px 16px;
    border: 1px solid $slate-grey;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.23333300650119781px;
    @include on-medium-device {
      width: 512px;
    }
    @include on-medium-device {
      width: 100%;
    }
  }
}
