@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.tabletSize__ {
  &option__ {
    &wrapper {
      margin-top: 24px;
    }

    &container {
      width: 480px;
      border: solid 1px $slate-grey;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 12px;
      margin-top: 16px;
      box-sizing: border-box;
      cursor: pointer;
      @include on-medium-device {
        width: 512px;
      }
      @include on-mobile {
        width: 90vw;
        padding: 0 5vw;
      }

      &__selected, &:hover {
        border: solid 4px $cerulean;
        background-color: $dark-sky-blue-two-with-transparency;
      }
    }

    &body {
      padding: 10px 0;
      width: 345px;
      @include on-medium-device {
        width: 377px;
      }
      @include on-mobile {
        width: 192px;
      }
    }

    &title {
      padding: 0;
      margin: 0;
      font-family: GothamMedium, serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: $slate-grey;
    }

    &namePriceContainer {
      margin: 8px 0 0;
      padding: 0;
      width: 100%;
      display: flex;
      align-items: center;
    }

    &name {
      padding: 0;
      margin: 0;
      font-family: GothamMedium, serif;
      font-size: 18px;
      font-weight: 400;
      color: $blue-grey;
    }

    &price {
      margin: 0 0 0 16px;
      padding: 0;
      font-family: "Open Sans", serif;
      font-size: 16px;
      font-weight: 700;
      color: $cerulean;
    }

    &description {
      margin: 8px 0 0;
      padding: 0;
      font-family: "Open Sans", serif;
      font-size: 14px;
      line-height: 22px;
      color: $blue-grey;
    }

    &image {
      margin-left: 12px;
      width: 99px;
      height: 88px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
