@import "../../../assets/stylesheets/variables_/palette";
@import "../../../assets/stylesheets/mixins/responsive";

.cart__footer__ {
  &container {
    position: fixed;
    width: 424px;
    height: 72px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 8px 0 $shadow-25;
    @include on-mobile {
      width: 100%;
    }
  }

  &button {
    width: 190px;
    height: 40px;
    @include on-mobile {
      width: 165px;
    }
  }
}
