@import "../../../assets/stylesheets/variables_/palette";
@import "../../../assets/stylesheets/mixins/responsive";

.cart__header__ {
  &container {
    width: 360px;
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid $slate-grey;
    @include on-mobile {
      width: 327px;
    }
  }

  &title {
    font-family: GothamBook, serif;
    font-size: 28px;
    color: $blue-grey;
  }

  &items-number {
    font-family: "Open Sans", serif;
    font-size: 22px;
    color: $blue-grey;
    flex: 1;
  }

  &close-button {
    background-image: url("../../../assets/images/close-black.png");
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
  }
}
