@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.promo-code-box__ {
  width: 100%;
  padding: 32px 56px 0 56px;

  @include on-mobile {
    padding: 32px 0 0 0;
  }

  &container {
    width: 100%;
    padding: 16px 24px;
    background-color: $white-three;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

    @include on-mobile {
      flex-direction: column;
    }
  }

  &input-container {
    width: 100%;
    max-width: 317px;
    display: flex;
    flex-direction: column;

    @include on-mobile {
      max-width: 100%;
    }
  }

  &input {
    width: 100%;
  }

  &error-message {
    color: $flash-msg-error;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-top: 2px;
  }

  &coupon__ {
    &container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      cursor: pointer;
      user-select: none;

      img {
        width: 13px;
        height: 13px;
      }
    }

    &title {
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
    }

    &text {
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      margin-top: 2px;
    }
  }

  &separator {
    width: 1px;
    align-self: stretch;
    margin: 0 32px;
    background-color: $slate-grey;

    @include on-mobile {
      height: 1px;
      width: 100%;
      margin: 32px 0;
    }
  }

  &discount__ {
    width: 100%;
    max-width: 317px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

    @include on-mobile {
      max-width: 100%;
    }

    &container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &text {
      font-family: "GothamBook";
      font-size: 16px;
      line-height: 24px;
      color: $blue-grey;

      &-price {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 19px;
        color: $cerulean;

        &-total {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: $blue-grey;
        }
      }

      &-bold {
        font-size: 16px;
        font-family: "GothamMedium";
      }
    }

    &apply-text {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 24px;
      font-style: italic;
      color: $stale-grey;
      font-weight: 400;
      margin-top: 4px;
    }
  }
}
