@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.transaction-history-section__ {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  &cancel-link {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-decoration-line: underline;
    color: $stale-grey;
    text-align: right;
    float: right;
    cursor: pointer;
  }

  &container__ {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;

    &box {
      width: 100%;
      padding-bottom: 12px;
      display: flex;
      flex-direction: column;
    }

    &title {
      width: 100%;
      font-family: "GothamMedium", sans-serif;
      font-style: normal;
      font-weight: 350;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.692308px;
      text-transform: uppercase;
      color: $blue-grey;
      margin: 0 0 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid $blue-grey;
    }

    &detail {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: $stale-grey;
    }

    &extra-info {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: capitalize;
      color: $slate-grey;
    }
  }

  &records {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    padding-right: 12px;
  }

  &no-records {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $slate-grey;
  }

  &record__ {
    margin-bottom: 24px;

    &type {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: $stale-grey;
      margin: 0 0 8px;
    }

    &date {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $slate-grey;
      margin: 0;
    }

    &dotted {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $slate-grey;
      margin: 0;
      letter-spacing: 3px;

      @include on-mobile {
        display: none;
      }
    }

    &amount {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $stale-grey;
      margin: 0;
    }

    &subtitle {
      display: flex;
      justify-content: space-between;
    }
  }
}
