@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.carousel-image-description-item__ {
  &container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 325px;
    padding: 24px;
    margin: 5px 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

    @include on-mobile {
      width: 100vw;
      height: 10px;
      margin: 0;
      padding: 0 32px;
      box-shadow: none;
      flex-direction: column;
      align-items: center;
    }

    @include on-medium-device {
      margin-top: 5px;
    }
  }

  &photo {
    width: 279px;
    height: 279px;
    background-size: cover;
    object-fit: cover;

    @include on-mobile {
      width: calc(100vw - 64px);
      height: calc(100vw - 96px);
      margin-bottom: 24px;
    }
  }

  &textContainer {
    width: 349px;
    height: 216px;
    display: flex;
    flex-direction: column;

    @include on-mobile {
      width: calc(100vw - 64px);
    }
  }

  &name {
    width: 100%;
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $blue-grey;
    margin: 0;
    padding: 0;
  }

  &location {
    width: 100%;
    margin: 8px 0 0;
    padding: 0;
    font-family: "GothamLight", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    color: $blue-grey;
  }

  &description {
    width: 100%;
    margin: 16px 0 0;
    padding: 0;
    font-family: "Open Sans", serif;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: $blue-grey;
    word-wrap: break-word;
  }
}
