@import '../../../assets/stylesheets/variables_/palette';
@import '../../../assets/stylesheets/mixins/responsive';

.checkbox-field__ {

  &size-100 {
    width: 100%;
  }

  &size-50 {
    width: 48%;
  }

  &size-30 {
    width: 30%;
  }

  &size-85 {
    width: 81%;
  }

  &size-15 {
    width: 15%;
  }

  &middle-input {
    margin: 0 12px;
  }

  &error {
    border: 1px solid $flash-msg-error !important;
  }

  &container__ {

    margin: 25px 0 35px;
    align-items: flex-start;
    display: flex;

    &checkbox {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin: 0;
      cursor: pointer;

      :hover {
        opacity: .8;
      }
    }

    &input-row__ {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 12px;

      &label {
        display: flex;

        h4 {
          text-align: left;
          font-family: "Open Sans", sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          line-height: 19px;
          color: $black;
          margin: 0;
          cursor: pointer;
        }

        a {
          text-align: right;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 12px;
          line-height: 16px;
          color: $soft-blue;
          margin: 0 0 3px;
        }
      }

      &error-label {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: $flash-msg-error;
        font-size: 14px;
        line-height: 17px;
        margin: 4px 0 0 0;
        padding-left: 12px;

        :empty:before {
          height: 14px;
        }
      }
    }
  }
}
