@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.subscription-info-section__ {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  &cancel-link {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-decoration-line: underline;
    color: $stale-grey;
    text-align: right;
    float: right;
    cursor: pointer;
  }

  &container__ {
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
    width: 100%;

    &box {
      width: 25%;
      padding-bottom: 12px;
      display: flex;
      flex-direction: column;
    }

    &title {
      font-family: "GothamMedium", sans-serif;
      font-style: normal;
      font-weight: 350;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.692308px;
      text-transform: uppercase;
      color: $blue-grey;
      padding: 0 12px 0 0;
      border-bottom: 1px solid $blue-grey;
      margin-bottom: 16px;
      height: 2em;

      @include on-medium-device {
        height: 3.5em;
      }

      @include on-mobile {
        font-size: 12px;
        line-height: 13px;
        height: 3.5em;
      }
    }

    &detail {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: $stale-grey;

      @include on-mobile {
        font-size: 12px;
        line-height: 17px;
      }

      &--canceled {
        color: $flash-msg-error;
      }
    }

    &extra-info {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: capitalize;
      color: $slate-grey;
    }
  }

  &resubscribe-container__ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    margin-top: 48px;
    padding: 18px;

    @include on-mobile {
      flex-direction: column;
    }

    &text-container {
      flex: 1;
      font-family: "Open Sans", sans-serif;

      @include on-mobile {
        text-align: center;
      }
    }

    &title {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 4px;
    }

    &text {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: $blue-grey;
    }

    &button-container {
      margin: 0 12px;

      @include on-mobile {
        margin-top: 24px;
      }
    }
  }

  &button {
    display: block;
    min-width: 158px;
    min-height: 40px;
    font-family: "OpenSansCondensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark_blue;
    border: 1px solid $dark_blue;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 24px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
      text-decoration: none;
    }

    &trial-text {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      color: $stale-grey;
      padding: 31px 0 13px;
      margin: 0;
      text-align: center;
      align-self: center;
      max-width: 800px;
    }
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;

  @include on-mobile {
    flex: 1;
  }
}
