@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.payment-info-form__ {

  position: relative;

  &container__ {

    &button-wrapper {
      display: flex;
      justify-content: center;

      button {
        margin-left: 12px;
        margin-right: 12px;
        min-width: 120px;
      }
    }
  }
}
