@import "../../assets/stylesheets/mixins/responsive";

.row_buttons__ {
    &cta {
        &_container {
          margin-top: 40px;
          display: flex;
          padding-bottom: 40px;
          flex-direction: row;
          @include respond-to(medium) {
            margin-bottom: 0px;
          }
          a:nth-child(even) {
            margin-left: 20px;
          }
        }
        &--secondary_btn {
           border: none;
           margin-left: 20px;
        }
      }
}