@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.subscriptionProduct__ {
  &container {
    display: flex;
    width: 100%;
    @include on-medium-device {
      flex-direction: column;
    }
  }

  &carouselSection {
    background-color: $background-grey;
    width: 50%;
    @include on-medium-device {
      width: 100%;
    }
  }

  &infoSection {
    background-color: white;
    width: 50%;
    margin: 80px 0 0 128px;
    @include on-medium-device {
      margin: 80px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &accordion__ {
    &container {
      margin: 50px 0 25px;
      width: 480px;
      @include on-mobile {
        width: 327px;
        margin: 40px auto 25px;
      }
    }
  }
}
