@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.swell-product-info__ {

  &container__ {
    display: block;
    margin-bottom: 10px;

    &title {
      margin: 0;
      color: $black;
      font-family: 'GothamMedium', serif;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &subtitle {
      margin: 0;
      color: $black;
      font-family: 'Open Sans', serif;
      font-size: 15px;
      font-weight: normal;
    }
  }
}
