@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.purchase-confirmation__ {
  &content {
    margin: 80px auto;
    max-width: 800px;

    @include on-medium-device {
      margin: 80px 24px;
    }

    @include on-mobile {
      margin: 80px 24px;
    }
  }

  &header {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding:0;

    h1,h2,h3,h4,h5{
      margin:0
    }

    @include on-mobile {
      flex-direction: column;
    }
  }

  &header-title {
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: $black;
    text-align: left;
    flex: 2;
  }

  &header-subTitle {
    font-family: "GothamBook", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    text-align: right;
    flex: 1;

    @include on-mobile {
      text-align: left;
      margin-top: 12px !important;
    }
  }

  &title-border {
    height: 4px;
    width: 100%;
    background-color: $soft-light-blue !important;
    color: $transparent;
    margin: 24px auto 28px;
    color: $invisible;
  }

  &content-border {
    height: 1px;
    width: 100%;
    background-color: $slate-grey !important;
    color: $transparent;
    margin: 24px auto 28px;
  }

  &body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $stale-grey;
    padding: 0 24px;
    text-align: left;
    margin: auto;

    @include on-mobile {
      padding: 0;
    }
  }

  &footer-waves {
    background-image: url("../../assets/images/waves.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 186px;
  }
}
