@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.ribbon__ {
  &container__ {
    height: 46px;
    width: 100vw;
    background-color: $cerulean;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3; // because the library we are using on the hero library we need to use z-index 3
    transition: ease-in-out 0.3s;

    &hidden {
      top: -46px;
    }

    @include on-mobile {
      height: 68px;
      padding: 8px 3px;
      flex-wrap: wrap;

      &hidden {
        top: -68px;
      }

      h4 {
        margin: 0;
        &:first-child {
          text-align: center;
        }
      }
    }

    &primary-text {
      color: $white;
      font-size: 14px;
      line-height: 22px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      margin: 0 5px 0 0;
    }

    &secondary-text {
      color: $white;
      font-size: 14px;
      line-height: 22px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      margin: 0;
    }

    a {
      color: $white;
      font-size: 14px;
      line-height: 22px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      text-decoration: underline;
      margin: 0 0 0 5px;
    }
  }
}
