@import "../../assets/stylesheets/mixins/responsive";
@import "../../assets/stylesheets/variables_/palette";

.dynamic-form__ {
  &container {
    display: flex;
    margin: 0 auto;

    @include on-mobile {
      flex-direction: column;
    }
  }

  &image-section__ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 95px 120px;

    @include on-mobile {
      width: 100%;
      padding: 48px 24px;
    }

    &--shadow {
      box-shadow: inset 30vw 0px 100vw rgba(0, 0, 0, 0.5);
    }

    &header {
      font-family: "GothamMedium", serif;
      font-weight: 350;
      font-size: 48px;
      line-height: 55px;
      color: $white;
      margin: 0;
    }

    &sub-header {
      margin: 0;
      font-family: "Open Sans", serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      color: $white;
    }

    &body {
      margin: 16px 0;
      font-family: "GothamMedium", serif;
      font-weight: 350;
      font-size: 16px;
      line-height: 21px;
      color: $white;
    }
  }

  &body-section__ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 40px 64px;
    background-color: $soft-light-blue;

    @include on-mobile {
      max-width: 100%;
      padding: 32px 24px;
    }

    &header {
      font-family: "GothamMedium", serif;
      font-weight: 350;
      font-size: 30px;
      line-height: 36px;
      color: $blue-grey;
    }

    &fields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .input-field__container__label-row__ {
      text-transform: uppercase;
    }

    .dropdown-field__container__label-row__ {
      text-transform: uppercase;
    }

    &input {
      font-family: "GothamMedium", serif;
      font-size: 14px;

      &--50 {
        width: 48%;
      }

      &--100 {
        width: 100%;
      }
    }

    &cta {
      margin-top: 24px;
    }
  }
}
