@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.delivery-section {
  position: relative;
}

.delivery-options-selector__ {

  &container__ {

    padding: 0 0 24px;

    &item__ {
      display: flex;
      align-items: flex-start;
      margin-top: 24px;

      &--disabled {
        cursor: context-menu;

        div, h4 {
          cursor: context-menu;
        }
      }

      &info__ {
        cursor: pointer;

        &title-row__ {

          display: flex;
          margin-bottom: 8px;
          align-items: center;

          &name {
            font-family: "GothamMedium", sans-serif;
            font-style: normal;
            font-weight: 350;
            font-size: 18px;
            line-height: 24px;
            color: $black;
            margin: 0;
          }

          &price {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: $cerulean;
            margin: 0 0 0 12px;
          }
        }

        &estimation {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: $blue-grey;
          margin: 0 0 2px;
        }

        &comment {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: $stale-grey;
          margin: 0;
        }

        &observation {
          font-family: "Open Sans", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: $stale-grey;
        }
      }
    }
  }
}
