@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.delivery-info__ {
  &container {
    background: #{$grey}80;
    padding: 24px;
    margin: 12px 0;
  }

  &header-title {
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    text-align: left;
  }

  &body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin: 24px;
    text-align: left;
    margin: 0;
    flex: 1;
  }

  &content {
    display: flex;

    @include on-mobile {
      flex-direction: column;

      div:first-of-type {
        margin-bottom: 32px;
      }
    }
  }

  &content-border {
    height: 1px;
    width: 100%;
    background-color: $slate-grey !important;
    margin: 12px 0;

    @include on-mobile {
      width: calc(100% - 64px);
    }
  }
}
