@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.apparel-catalog-item__ {

  &container__ {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    padding: 0 12px;

    @include on-medium-device {
      width: calc(100% / 3);
    }

    @include on-mobile {
      width: 100%;
    }

    &:hover {
      text-decoration: none;
    }

    &photo {
      width: 100%;
      margin: 0;
      height: 224px;
      object-fit: contain;
    }

    &name {
      font-family: 'GothamMedium', serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      color: $black;
      margin: 0;
      text-align: center;
      min-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &group {
      font-family: 'GothamBook', serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 17px;
      color: $black;
      margin: 0;
      text-align: center;
      min-height: 17px;
    }

    &price {
      color: $slate-grey;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      margin: 8px 0;
      line-height: 22px;
      min-height: 22px;

      &__original{
        text-decoration: line-through;
        margin-right: 10px;
      }
      &__sale{
        color: $cerulean
      }
    }

    &colors-box__ {

      display: flex;
      justify-content: center;
      align-items: center;

      div {
        border-radius: 50%;
        margin: 0 4px;
        width: 12px;
        height: 12px;
      }
    }
  }
}
