@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.striked {
  text-decoration: line-through;
}

.purchase-details__ {
  &content {
    &h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0 24px;

      @include on-mobile {
        margin: 0;
      }
    }
  }

  &content-border {
    height: 1px;
    width: 100%;
    background-color: $slate-grey !important;
    color: $transparent;
    margin: 24px 0 0 0;
  }

  &total-price__ {
    &container {
      display: flex;
      margin: 24px 0;
    }

    &title {
      flex: 1;
      font-family: GothamMedium, serif;
      font-size: 16px;
      color: $blue-grey;
    }

    &price {
      font-family: "Open Sans", serif;
      font-size: 16px;
      font-weight: 600;
      color: $blue-grey;
    }
  }

  &item__ {
    &container {
      margin-top: 24px;
    }

    &subtitle {
      color: $blue-grey;
      font-family: "GothamBook", serif;
      font-style: normal;
      font-weight: 325;
      font-size: 14px;
      line-height: 24px;
      margin: 2px 0;
    }

    &name-price-wrapper {
      display: flex;
    }

    &name {
      flex: 1;
      margin: 0;
      padding: 0;
      font-family: GothamMedium, serif;
      font-size: 18px;
      font-weight: 350;
      color: $blue-grey;
    }

    &price {
      margin: 0;
      padding: 0;
      font-family: "Open Sans", serif;
      font-size: 16px;
      font-weight: 400;
      color: $blue-grey;
    }

    &promo__ {
      &wrapper {
        display: flex;
        justify-content: space-between;
        margin: 4px 0 2px;
      }

      &title {
        color: $cerulean;
        font-family: "GothamMedium", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
      }

      &price {
        color: $cerulean;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
      }
    }

    &options__ {
      &container {
        display: flex;
      }

      &wrapper {
        display: flex;
        margin-left: 24px;

        @include on-mobile {
          margin: 0;
        }
      }

      &body {
        color: $stale-grey;
        font-family: "Open Sans", serif;
        font-size: 14px;
        margin: 0 !important;
      }
    }
  }
}
