@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.physicalProduct__ {
  &buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  &container {
    display: flex;
    width: 100%;
    @include on-medium-device {
      flex-direction: column;
    }
  }

  &carousel-section {
    background-color: $background-grey;
    width: 50%;
    @include on-medium-device {
      width: 100%;
    }
  }

  &info-section {
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    @include on-medium-device {
      width: 100%;
    }
  }

  &header-image {
    height: 100px;
    width: auto;
  }

  &info-container {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 116px;
    @include on-medium-device {
      margin-top: 56px;
    }
    @include on-mobile {
      padding: 0 5vw;
    }
  }

  &add-variation-button {
    margin-top: 12px;
  }

  &add-to-cart-button {
    margin-top: 32px;
    width: 480px;
    @include on-medium-device {
      margin: 0;
      width: 303px;
      height: 46px;
    }
  }

  &cta {
    margin-top: 12px;
    width: 480px;
    @include on-medium-device {
      margin-top: 24px;
    }
    @include on-mobile {
      width: 303px;
      margin: 24px auto 0;
    }
  }

  &accordion__ {
    &container {
      margin: 50px 0 25px;
      width: 480px;
      @include on-mobile {
        width: 327px;
        margin: 40px auto 25px;
      }
    }
  }

  &add-to-cart-section {
    position: fixed;
    background: $white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78px;
    box-shadow: 0px 0px 8px $shadow-25;
  }
}
