@import "../../../assets/stylesheets/variables_/palette";
@import "../../../assets/stylesheets/mixins/responsive";

.ui.search.selection.dropdown > input {
  left: 0;
  height: 100%;
  line-height: 22px;
  padding: inherit;
  position: relative;
}

.ui.selection {
  &.active.dropdown {
    :hover,
    .menu {
      margin-top: 1px;
      border: solid 1px #595959;
      background-color: #f8f8f8;
    }
  }

  &.dropdown .menu > .item {
    color: #595959;
    padding: 4px 16px;
  }
}

.ui.fluid.dropdown {
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 44px;
  border-radius: 3px;
  border: solid 1px #b2b2b2;
  background: transparent;

  & > .text {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 300;
    color: $black;
    width: 256px;

    &:not(.default) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dropdown-disabled {
  .ui.fluid.dropdown {
    background: $white-five;
  }
}

.dropdown-field__ {
  &size-100 {
    width: 100%;
  }

  &size-50 {
    width: 48%;

    @include on-medium-device {
      width: 100%;
    }
  }

  &size-30 {
    width: 30%;

    @include on-medium-device {
      width: 48%;
    }
  }

  &size-85 {
    width: 81%;

    @include on-medium-device {
      width: 100%;
    }
  }

  &size-15 {
    width: 15%;

    @include on-medium-device {
      width: 48%;
    }
  }

  &middle-input {
    margin: 0 12px;
  }

  &container__ {
    margin: 25px 0 7px;

    &label-row__ {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h4 {
        text-align: left;
        font-family: "GothamBook", sans-serif;
        font-weight: 325;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        margin: 0 0 3px;
      }

      a {
        text-align: right;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        color: $soft-blue;
        margin: 0 0 3px;
      }
    }

    &input-row__ {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .description {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-stretch: condensed;
        letter-spacing: 0.6px;
        text-align: right;
        color: $green-dropdown-label;
      }

      div {
        display: block;
      }

      &error-label {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: $flash-msg-error;
        font-size: 14px;
        line-height: 17px;
        margin: 4px 0 0 0;

        :empty:before {
          height: 14px;
        }
      }
    }
  }
}
