@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";


.shop-all__ {

  &container__ {

    padding: 0 180px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-medium-device {
      padding: 0 48px 80px;
    }

    @include on-mobile {
      padding: 0 24px 80px;
    }

    &title {
      color: $blue-grey;
      font-family: 'GothamMedium', serif;
      font-weight: 350;
      line-height: 36px;
      font-size: 30px;
      text-align: center;
      padding: 54px 0 5px !important;
    }

    &title-border {
      height: 4px;
      width: 400px;
      margin: 0 auto;
      background-color: $ice-blue;
      color: $invisible;

      @include on-mobile {
        width: calc(100% - 64px);
      }
    }

    &description {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      margin: 25px 0 70px;
      text-align: center;
    }

    &items-box {
      display: flex;
      justify-content: center;

      &--container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 840px;

        @include on-medium-device {
          width: 640px;
        }

        @include on-mobile {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
