@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.store__ {
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 20px 0;

  @include on-mobile {
    flex-direction: column;
  }

  &content {
    flex: 2;
  }

  &links {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  &link {
    margin: 0 12px;
  }

  &link-img {
    width: 135px;
    height: 40px;
  }
}

.body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $blue-grey;
  margin: 8px auto;
  text-align: left;
  flex: 1;

  @include on-mobile {
    text-align: center;
    margin: 16px auto;
  }
}
