@import "src/assets/stylesheets/variables";
@import "src/assets/stylesheets/mixins";

.pressCarousel__ {
  &arrow {
    position: absolute;
    top: 25%;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
    @include on-medium-device {
      display: none;
    }

    &--left {
      left: 136px;
      background-image: url("../../../assets/images/leftArrowSlick.png");
    }

    &--right {
      right: 136px;
      background-image: url("../../../assets/images/rightArrowSlick.png");
    }
  }
}
