@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.colors__ {
  &container {
    display: flex;
  }

  &color-container {
    margin: 16px 14px 0 0;
    cursor: pointer;
  }

  &selected {
    width: 40px;
    height: 40px;
    border: 0 solid $slate-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &color {
    width: 28px;
    height: 28px;
    border: 1px solid $slate-grey;
    border-radius: 50%;
  }
}
