@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.multipleVariantsSelection__ {
  &container {
    margin-top: 32px;
  }

  &quantity__ {
    &container {
      display: flex;
      align-items: center;
    }

    &title {
      font-family: 'Open Sans', serif;
      font-size: 14px;
      font-weight: 600;
      color: $blue-grey;
      margin: 0 16px 0 0;
    }

    &numberContainer {
      display: flex;
      cursor: pointer;
    }

    &selected {
      width: 40px;
      height: 40px;
      border: 0 solid $slate-grey;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
    }

    &number {
      font-family: 'Open Sans', serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: $slate-grey;
    }
  }

  &variants__ {
    &container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
      margin-top: 16px;
    }
  }
}
