@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.newsletterModal__ {
  &container {
    width: 709px !important;

    @include on-medium-device {
      width: 600px !important;

      button {
        width: 100%;
      }
    }

    @include on-mobile {
      width: 90vw !important;
    }

    .description {
      display: flex !important;

      @include on-medium-device {
        flex-direction: column;
      }
    }
  }

  &close {
    position: absolute;
    right: 24px;
    top: 24px;
  }

  &image {
    object-fit: cover;
    width: 216px;
    height: 360px;
    margin-right: 32px;

    @include on-medium-device {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  &title {
    font-family: "GothamMedium", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px !important;
    line-height: 36px;
    text-transform: capitalize;
    color: $black;
    margin: 0;
    word-break: break-word;
    padding-right: 30px;

    @include on-medium-device {
      padding: 0;
      text-align: left;
    }
  }

  &body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $blue-grey;
    margin: 12px 0 31px;
    word-break: break-word;

    @include on-medium-device {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &disclaimer {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $slate-grey;
    margin-top: 32px;
  }

  &cta {
    margin-top: 21px;
  }

  &right-container {
    @include on-medium-device {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
