@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.feature-banner__ {
  &container {
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: $grey;

    &--medium_mode {
      background-color: $light-blue;

      .feature-banner__title-border {
        background-color: $soft-light-blue !important;
        color: $light-blue !important;
      }

      .feature-banner__description {
        color: $blue-grey !important;
      }
    }

    &--dark_mode {
      background-color: $dark_blue;
      color: $white !important;

      .feature-banner__items-box__item__title,
      .feature-banner__header-title,
      .feature-banner__description,
      .feature-banner__items-box__item__text {
        color: $white !important;
      }

      .feature-banner__title-border {
        background-color: $white !important;
        color: $dark_blue !important;
      }
    }

    @media only screen and (min-width: 1200px) {
      padding: 2.6rem 1.5rem;
    }
  }

  &header-title {
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: $blue-grey;
    text-align: center;
    padding: 48px 0 5px !important;

    @include on-mobile {
      font-size: 24px;
      padding: 48px 32px 0 32px;
    }

    &--dark_mode {
      color: $white !important;
    }
  }

  &title-border {
    height: 4px;
    width: 400px;
    background-color: $blue-grey !important;
    margin: 0 auto 28px;
    color: $invisible;

    @include on-mobile {
      width: calc(100% - 64px);
    }
  }

  &description {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin: 28px 0;
    text-align: center;
    padding: 0 335px;

    @include on-medium-device {
      padding: 0 84px;
    }

    @include on-mobile {
      padding: 0 24px;
    }
  }

  &items-box__ {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 139px;

    @include on-medium-device {
      padding: 50px 56px 48px;
    }

    @include on-mobile {
      padding: 0px 24px;
    }

    @include respond-to(small) {
      align-items: normal;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &item__ {
      text-align: center;
      margin: 0 32px 10px;
      justify-content: center;
      height: auto;

      @include on-medium-device {
        margin: 0 16px;
      }

      @include on-mobile {
        width: 100% !important;
        margin: 0 0 40px;
      }

      &:first-child:nth-last-child(1) {
        width: 100%;
      }

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ div {
        width: 50%;

        .feature-banner__items-box__item__icon {
          max-height: unset;
          width: 80px;
          height: auto;
        }
      }

      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ div {
        width: calc(100% / 3);
      }

      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ div {
        width: 25%;
      }

      &title {
        font-family: "GothamMedium", serif;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        min-height: 24px;
        line-height: 22px;
        color: $blue-grey;
        text-align: center;
        margin: 8px 0;
        text-transform: uppercase;

        @include on-medium-device {
          margin-top: 0;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          font-size: 14px;
          line-height: 17px;
        }
        @include on-mobile {
          font-size: 16px;
          line-height: 19px;
          margin: 4px 0 6px 0;
        }
      }

      &text {
        font-family: "Open Sans", serif;
        font-style: normal;
        font-weight: 300;
        text-align: center;
        color: $blue-grey;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        min-height: 24px;
        margin-bottom: 12px;

        @include on-medium-device {
          font-size: 12px;
          line-height: 16px;
        }

        @include on-mobile {
          font-size: 14px;
          line-height: 16px;
        }
      }

      &icon {
        max-height: 50px;
        width: 45%;
        object-fit: contain;
        margin-bottom: 16px;

        @include on-medium-device {
          max-height: 40px;
          width: 45%;
        }
      }

      &link {
        font-family: "OpenSansCondensed", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        color: $cerulean;
      }
    }
  }
}
