@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.bullet-list__ {
  &containers {
    margin-bottom: 5px;
  }

  &option {
    margin-bottom: 21px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &--alt {
      align-items: center;
      margin-top: 10px;
    }
  }

  &option_check_marks {
    margin-top: 5px;
    margin-right: 22px;
    width: 18px;
    height: 16px;

    &--alt {
      margin-top: 0;
      height: 24px;
      width: 24px;
    }
  }

  &option_description {
    font-family: "Open Sans", serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: $blue-grey;

    &--alt {
      color: $white;
      font-size: 16px;
      line-height: 24px;
    }

    @include respond-to(small) {
      width: 297px;
      line-height: 19px;
    }

    @include respond-to(medium) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
