@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.image-carousel__ {

  &content__ {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 600px;
    margin: 16px auto 20px;

    @include on-mobile {
      min-width: 100%;
      max-width: 100%;
    }

    &story-frame {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 600px;
      left: auto;
      right: auto;

      @include on-mobile {
        flex-direction: column;
        width: 100%;
      }

      &__member-photo {
        display: flex;
        object-fit: contain;
        width: 224px;
        height: 296px;

        @include on-medium-device {
          margin-right: 0;
          padding-bottom: 24px;
          margin-bottom: 40px;
          width: 100%;
          object-fit: cover;
        }
      }

      &__text-section__ {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 220px;

        @include on-mobile {
          width: 100%;
        }

        &name {
          font-family: 'GothamMedium', serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          height: 16px;
          color: #30353C;
          margin-bottom: 8px;
        }

        &location {
          font-family: 'GothamLight', serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          height: 16px;
          color: #30353C;
          margin-bottom: 14px;
        }

        &review {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          height: 160px;
          color: #30353C;

          @include on-mobile {
            height: 190px;
            width: 100%;
          }
        }
      }
    }
  }
}

.slick-image-carousel {

  display: flex;
  justify-content: center;;

  .slick-slider {

    width: 95vw !important;
    padding: 0 40px !important;

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }

  .slick-list {
    padding: 0 !important;
  }
}
