@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.carousel-image-description__ {
  &container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 800px;

    @include on-mobile {
      padding: 0;
      height: auto;
    }

    .slick-slide {
      opacity: 0.5;
    }

    .slick-center {
      opacity: 1;
    }

    .slick-list {
      @include on-medium-device {
        min-height: 336px;
      }

      @include on-mobile {
        min-height: 83vh;
        padding: 0;
      }
    }

    .slick-dots--display {
      opacity: 0;
      position: relative;
      margin-top: 35px;

      @include on-medium-device {
        opacity: 1;
        margin-top: 0;
        position: absolute;
        bottom: 25px;
      }
    }
  }

  &title {
    font-family: "GothamMedium", serif;
    font-weight: 350;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    padding: 54px 0 5px !important;
    color: $blue-grey;

    @include on-mobile {
      font-size: 24px;
      padding: 48px 32px 0 32px;
    }
  }

  &title-border {
    height: 4px;
    width: 400px;
    background-color: $ice-blue;
    margin: 0 auto;
    color: $invisible;

    @include on-mobile {
      width: calc(100% - 64px);
    }
  }

  &description {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin: 25px 0 16px;
    text-align: center;
    width: 528px;

    @include on-mobile {
      width: 100vw;
      padding: 0 24px;
    }
  }

  &cta-container {
    display: flex;
    align-items: center;
    margin-top: 24px;

    button {
      min-width: 195px;
      margin: 0 12px;
    }

    @include on-mobile {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0 24px;
      margin-top: 12px;

      button {
        margin: 10px 0;
      }
    }
  }

  &slider {
    width: 100%;
    height: 327px;
    margin-top: 50px;
    display: block;

    @include on-mobile {
      height: unset;
      margin-top: 0;
      padding: 32px 0 0;
    }
  }
}
