@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.help__ {
  &container {
    background: #{$cerulean}1a;
    padding: 30px 0 40px 0;
    display: flex;
    margin: 12px 0;

    @include on-mobile {
      flex-direction: column;
      padding: 15px 0 20px 0;
    }
  }

  &content {
    flex: 1;

    @include on-mobile {
      margin: 18px 0;
    }
  }

  &title {
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $blue-grey;
    text-align: center;
    margin-top: 22px;
  }

  &body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $blue-grey;
    margin: 8px auto;
    text-align: center;
    flex: 1;
    max-width: 312px;
  }

  &icon {
    width: 48px;
    height: 48px;
    margin: auto;
  }

  &button {
    width: 128px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    margin: 8px auto;
    padding: 0;
    color: $blue-grey;
    border-color: $blue-grey;
  }
}
