@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.set-password-page__ {

  &container__ {

    padding: 152px 0 257px;
    display: flex;
    justify-content: center;

    @include on-medium-device {
      padding: 112px 0 96px;
    }

    @include on-mobile {
      padding: 123px 0 59px;
    }

    &content-box__ {

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 2px 8px $shadow-25;
      padding: 64px 0;
      width: 928px;

      @media(max-width: 768px){
        box-shadow: none;
        width: 100%;
      }

      &title__ {
        font-family: "GothamMedium", sans-serif;
        font-style: normal;
        font-weight: 350;
        font-size: 30px;
        line-height: 36px;
        color: $black;
      }

      &title-border {
        height: 4px;
        width: 400px;
        background-color: $ice-blue;
        margin: 24px auto;

        @include on-mobile {
          width: calc(100% - 64px);
          margin:12px
        }
      }

      &description {
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: $stale-grey;
        padding: 31px 0;
        margin: 0;
        text-align: center;
        max-width: 400px;
        width: calc(100% - 48px);

        a {
          color: $cerulean;
          text-decoration: underline;
          font-weight: 600;
          margin-left: 8px;
        }
      }
      &input{
        max-width: 388px;
        width: calc(100% - 48px);
      }

      button {
        margin-top: 25px;
        min-height: 40px;
        min-width: 87px;
        font-family: "OpenSansCondensed", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
