@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.cart__ {

  &wrapper {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $shadow;
    top: 0;
    left: 0;
    z-index: 3; // because the library we are using on the hero library we need to use z-index 3

    > div:last-child {
      background: #f8f8f8;
    }
  }

  &overlay {
    flex: 1;
  }

  &container {
    width: 424px;
    background-color: $white-three;
    padding: 24px 32px;
    overflow-y: auto;
    height: calc(100vh - 75px);

    @include on-mobile {
      width: 100%;
      padding: 24px;
    }
  }
}
