@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.subscription-plan-box-mobile__ {
  box-shadow: 0 2px 8px $shadow-25;
  border-radius: 5px;
  cursor: pointer;
  margin: 36px 4px 4px 4px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;

  &--selected {
    border: $cerulean 4px solid;
    margin: 32px 0 0 0;
    padding-bottom: 0px;
  }

  &:hover {
    border: $cerulean 4px solid;
    margin: 32px 0 0 0;
  }

  &--selected &title__container {
    background-color: $cerulean;
  }

  &--selected &title__text {
    color: $white;
  }

  &--selected &title__most-popular__container {
    background-color: $white;
    p {
      color: $black;
    }
  }

  &title__ {
    &container {
      background-color: $soft-light-blue50;
      width: 100%;
      padding: 16px;
      display: flex;
      justify-content: space-between;
    }

    &text {
      font-family: "GothamBook", serif;
      font-size: 22px;
      line-height: 26px;
      text-align: left;
      color: $blue-grey;
      margin-bottom: 0px;
    }

    &most-popular__ {
      &container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        border-radius: 100px;
        padding: 2px 12px;
      }

      &text {
        font-family: "Open Sans", serif;
        font-size: 14px;
        text-align: left;
        color: $white;
      }
    }
  }

  &body-container {
    padding: 24px;
  }

  &price__ {
    &container {
      display: flex;
      align-items: center;
    }

    &number {
      font-family: "Open Sans", serif;
      font-size: 30px;
      font-weight: 600;
      text-align: left;
      color: $blue-grey;
      margin: 0 16px 0 0;
      padding: 0;
    }

    &separator {
      width: 1px;
      background-color: $black;
      height: 41px;
    }

    &description {
      font-family: "Open Sans", serif;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      margin-left: 16px;
      color: $blue-grey;
      width: 157px;
    }
  }

  &description__ {
    &container {
      width: 100%;
      border-top: 1px solid $black;
      margin-top: 24px;
      padding-top: 24px;
      display: flex;
      align-items: center;
    }

    &text {
      font-family: "Open Sans", serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: $blue-grey;
    }
  }

  &cta {
    margin-top: 24px;
    width: 100%;
    height: 40px;
    background: $transparent;
    font-family: "OpenSansCondensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    color: $cerulean;
    border: 1px solid $cerulean;
    border-radius: 2px;
    padding: 10px 24px;
    cursor: pointer;

    p {
      display: flex;
      align-items: center;

      img {
        margin-right: 8px;
      }
    }

    &:hover,
    &--focus {
      background-color: $cerulean;
      border: 1px solid $cerulean;
      color: $white;
    }
  }

  &footer__ {
    &container {
      background-color: $cerulean;
    }

    &text {
      font-family: "Open Sans", serif;
      color: $white;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
    }
  }
}
