@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.carousel__ {
  &container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    padding: 56px 0;

    @include on-mobile {
      height: 100%;
      padding-top: 44.5px;
    }

    &--normal {
      background-color: black;
    }

    &--press {
      @include on-mobile {
        height: 427px;
      }
    }

    &--black {
      background-color: $black;
    }
    &--white {
      background-color: $white;
    }
    &--gray {
      background-color: $grey;
    }
    &--blue {
      background-color: $dark_blue;
    }
  }
  &title {
    margin: 0;
    font-family: "GothamMedium", serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 1.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $blue-grey;
    &--white {
      color: $white;
    }

    @include on-medium-device {
      left: 120px;
      right: 120px;
      bottom: 250px;
      font-size: 22px;
      line-height: 26px;
    }

    @include on-mobile {
      position: relative;
      max-width: 311px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      left: auto;
      right: auto;
      bottom: 0;
    }
  }
  &cta {
    font-family: "Open Sans", serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: $blue-grey;
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    &-container {
      margin-top: 20px;
    }

    &--white {
      color: $white;
    }
  }

  &title-border {
    height: 4px;
    width: 400px;
    background-color: $ice-blue;
    margin-top: 16px;
    color: $invisible;

    @include on-mobile {
      width: calc(100% - 64px);
    }
  }
  &content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--team {
      width: 60vw;

      .slick-prev {
        left: -10% !important;
        background-image: url("../../../static/leftArrowSlick.png") !important;
      }

      .slick-next {
        right: -10% !important;
      }
    }
  }
}

.slick-slider.custom-carousel {
  padding: 0;
  margin-top: 24px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
}

.custom-carousel {
  .slick-list {
    width: 100%;
  }

  .slick-dots {
    width: 100%;
  }

  .slick-next {
    right: 15%;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus {
      width: 32px;
      height: 32px;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }

    @include on-medium-device {
      display: none !important;
    }

    &::before {
      display: none;
    }
    @include on-mobile {
      display: none !important;
    }
  }

  .slick-prev {
    left: 15%;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }

    @include on-medium-device {
      display: none !important;
    }

    &::before {
      display: none;
    }

    @include on-mobile {
      display: none !important;
    }
  }

  &--black .slick-dots li button:before {
    color: white;
  }

  &--black .slick-prev {
    background-image: url("../../../static/leftArrowSlick.png");
  }

  &--black .slick-next {
    background-image: url("../../../static/rigthArrowSlick.png");
  }

  &--white .slick-prev {
    background-image: url("../../../static/leftBlackArrowSlick.png");
  }

  &--white .slick-next {
    background-image: url("../../../static/rigthBlackArrowSlick.png");
  }

  > .slick-list,
  .slick-slider,
  .slick-track {
    display: flex;
  }
}
