@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.cart-details__ {
  &container {
    padding: 8px 0 24px;
  }

  &total-price__ {
    &container {
      display: flex;
      margin-top: 24px;
    }

    &title {
      flex: 1;
      font-family: GothamMedium, serif;
      font-size: 16px;
      color: $blue-grey;
    }

    &price {
      font-family: 'Open Sans', serif;
      font-size: 16px;
      font-weight: 600;
      color: $blue-grey;
    }
  }

}
