@import "../../../assets/stylesheets/variables_/palette";
@import '../../../assets/stylesheets/mixins/responsive';

.productCarouselFooter__ {
  &container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    @include on-mobile {
      margin-top: 24px;
    }
  }

  &wrapper {
    width: 628px;
    border-top: 1px solid $blue-grey;
    display: flex;
    padding: 32px 24px 24px;
    @include on-mobile {
      flex-direction: column;
      padding: 32px 0 24px;
      margin: 0 24px;
      width: 100%;
    }
  }

  &description__ {
    &container {
      padding-right: 40px;
      border-right: 1px solid $slate-grey;
      @include on-mobile {
        padding-right: 0;
        border-right: unset;
      }
    }

    &title {
      font-family: GothamBook, serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: $black;
    }

    &text {
      width: 308px;
      font-family: 'Open Sans', serif;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: $stale-grey;
      margin-top: 8px;
      padding: 0;
      @include on-mobile {
        width: 100%;
        margin-bottom: 24px !important;
      }
    }
  }

  &specs__ {
    &container {
      padding-left: 40px;
      @include on-mobile {
        padding-left: 0;
      }
    }

    &title {
      font-family: GothamBook, serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: $black;
    }

    &text {
      font-family: 'Open Sans', serif;
      font-size: 14px;
      font-style: italic;
      line-height: 24px;
      text-align: left;
      color: $stale-grey;
    }
  }
}
