@import "../../../assets/stylesheets/variables_/palette";
@import '../../../assets/stylesheets/mixins/responsive';

.productPrice__ {

  &container {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 10px;
  }

  &text {
    padding: 0;
    margin: 0;
    font-family: GothamMedium, serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.0666667px;
    color: $cerulean;

    &.sale {
      margin-right: 10px;
      color: $warm-grey-middle;
      text-decoration: line-through;
    }
  }




  &subText {
    padding: 0;
    margin: 0 0 0 12px;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    color: $warm-grey-middle;
  }
}
