@import '../../../assets/stylesheets/variables_/palette';
@import '../../../assets/stylesheets/mixins/responsive';

.klarna-widget__ {
  &container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
  }

  &button {
    width: 100%;
    height: 50px;
    background-color: #171717;
    margin-top: 20px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    text-transform: unset;
  }
}
