@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.payment-method-selector__ {

  &link {
    text-decoration: underline;
    margin-top: 8px;
  }

  &klarna-badge {
    width: 45px;
    height: 25px;
    object-fit: contain;
    margin-left: 16px;
  }

  &container__ {

    padding: 0 0 24px;

    &item__ {
      display: flex;
      align-items: flex-start;
      margin-top: 24px;
      user-select: none;

      &extra {
        flex-direction: column;
      }

      &info__ {
        cursor: pointer;

        &title-row__ {

          display: flex;
          margin-bottom: 8px;
          align-items: center;

          &name {
            font-family: "GothamMedium", sans-serif;
            font-style: normal;
            font-weight: 350;
            font-size: 18px;
            line-height: 24px;
            color: $black;
            margin: 0;
          }
        }

        &comment {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: $black;
          margin: 0 0 2px;
        }
      }
    }
  }
}
