@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.profile-page__ {
  &container__ {
    padding: 80px 0 112px 0;
    display: flex;
    justify-content: center;

    @include on-medium-device {
      padding: 112px 0 96px;
    }

    @include on-mobile {
      padding: 123px 0 59px;
    }

    &content-box__ {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 2px 8px $shadow-25;
      padding: 64px 0;
      width: 928px;

      @include on-medium-device {
        box-shadow: none;
      }

      &title__ {
        font-family: "GothamMedium", sans-serif;
        font-style: normal;
        font-weight: 350;
        font-size: 30px;
        line-height: 36px;
        color: $black;
      }

      &title-border {
        height: 4px;
        width: 400px;
        background-color: $ice-blue;
        margin: 0 auto;
        color: $invisible;

        @include on-mobile {
          width: calc(100% - 64px);
        }
      }
    }
  }

  &info-field__ {
    background: $slate-gray-transparent;
    margin: 12px 0;
    padding: 12.5px 16px;

    &title {
      font-family: "GothamBook", sans-serif;
      font-style: normal;
      font-weight: 325;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.692308px;
      text-transform: uppercase;
      color: $stale-grey;
    }

    &detail {
      font-family: "GothamMedium", sans-serif;
      font-style: normal;
      font-weight: 350;
      font-size: 18px;
      line-height: 22px;
      color: $blue-grey;
      margin-top: 8px;
    }

    &detail-alt {
      font-family: "GothamBook", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      margin-top: 8px;
      color: $slate-grey;
    }
  }

  &edit-btn {
    margin-bottom: 88px;
  }

  &btn-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4px 0 88px;

    button {
      min-width: 150px;
      margin: 0 10px;
    }
  }

  &change-password__ {
    &container {
      display: grid;
      padding-top: 24px;
      padding-bottom: 48px;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      width: calc(100% - 128px);
      @include on-mobile {
        grid-template-columns: 1fr;
        width: calc(100% - 48px);
      }
      @include on-medium-device {
        width: calc(100% - 64px);
      }
    }
    &forgot-password {
      margin-top: 70px;
      @include on-mobile {
        margin-top: 0;
      }
    }
  }

  a {
    color: $cerulean;
    text-decoration: underline;
    font-weight: 600;
    font-size: 12px;
  }
}
