@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.profile-top-bar__ {

  &container__ {
    position: sticky;
    left: 0;
    top: 72px;
    width: 100vw;
    height: 56px;
    background-color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 27px;
    z-index: 1;

    @include on-mobile {
      top: 56px;
      justify-content: center;
    }

    &left__ {

      display: flex;
      align-items: center;

      @include on-mobile {
        flex-direction: column;
      }

      &name {
        font-family: 'GothamMedium', sans-serif;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        color: $blue-grey;
        margin: 0 5px 0 0;
      }

      &separator {
        font-family: 'GothamBook', sans-serif;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        font-weight: 300;
        color: $blue-grey;
        margin: 0 5px 0 0;

        @include on-mobile {
          display: none;
        }
      }

      &since {
        font-family: 'GothamBook', sans-serif;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        font-weight: 300;
        color: $blue-grey;
        margin: 0;
      }
    }

    &right__ {

      display: flex;
      justify-content: flex-end;
      padding-right: 27px;

      @include on-medium-device {
        display: none;
      }

      &item, a {
        font-family: 'GothamBook', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: $blue-grey;
        margin: 0 0 0 48px;

        &--active {
          text-decoration: underline;
          font-weight: bold !important;
        }
      }
    }
  }
}
