@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.custom-button__wrapper-button {
  display: block;
  background-color: $cerulean;
  border: none;
  text-align: center;
  padding: 8px 24px;
  border-radius: 2px;
  color: $white;
  font-size: 15px;
  font-family: "OpenSansCondensed", serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $light-blue-grey;
    box-shadow: 0 2px 13px 0 rgba(45, 77, 141, 0.4);
    @include on-medium-device {
      background-color: #59a4df;
    }
  }
}

.custom-button__wrapper--disabled {
  background-color: $white-five;
  cursor: default;

  &:hover {
    background-color: $white-five;
    cursor: default;
    box-shadow: none;
  }
}

.custom-button__wrapper--secondary {
  background-color: transparent;
  border: solid 1px $black;
  color: $black;

  &:hover {
    box-shadow: 0 2px 13px 0 rgba(48, 53, 60, 0.3);
    border: solid 1px $black;
    background-color: $black;
    color: $white;
  }

  &-no-bg {
    &:hover {
      box-shadow: none;
      border: none;
      background-color: transparent;
      color: $warm-grey-middle;
    }
  }
}

.custom-button__wrapper--secondary-white {
  background-color: transparent;
  border: solid 1px $white;
  color: $white;

  &:hover {
    box-shadow: 0 2px 13px 0 rgba(48, 53, 60, 0.3);
    border: solid 1px $white;
    background-color: $white;
    color: $black;
  }
}

.custom-button__wrapper--secondary-link {
  background-color: transparent;
  border: none;
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    color: #b5b5b5;
  }

  &:visited {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.custom-button__wrapper--secondary-link--inverse {
  background-color: transparent;
  border: none;
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    box-shadow: none;
    background-color: $white;
    border: none;
    color: $black;
  }

  &:visited {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.custom-button__wrapper-padding {
  padding: 16px;
}
