@import '../../../assets/stylesheets/variables_/palette';
@import '../../../assets/stylesheets/mixins/responsive';

.StripeElement {
  height: 40px;
  padding: 10px 12px;
  color: #32325d;
  border: 1px solid $light-grey;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--empty {
  border-color: $flash-msg-error;
}

.StripeElement--invalid {
  border-color: $flash-msg-error;
}

.StripeElement--complete {
  border-color: $light-grey;
}

.credit-card-input {
  width: 372px;
  margin: 28px 0 0;
  @include on-mobile {
    width: 327px;
  }
}

.credit-card-invalid-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: $flash-msg-error;
  font-size: 14px;
}

.credit-card-wrapper {
  margin-bottom: 28px;
}
