@import 'src/assets/stylesheets/variables_/palette';
@import 'src/assets/stylesheets/mixins/responsive';

.upgrade-plan-message__ {
  &container {
    background-color: $cerulean;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    width: 736px;
    @include on-medium-device {
      width: 656px;
    }
    @include on-mobile {
      width: 327px;
    }
  }

  &text {
    width: 704px;
    font-family: GothamLight, serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    @include on-medium-device {
      width: 624px;
    }
    @include on-mobile {
      width: 295px;
    }
  }
}
