@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.cart-details__promo__ {
  &title {
    font-family: GothamBook, serif;
    font-size: 14px;
    font-weight: 325;
    color: $blue-grey;
    margin-top: 32px;
  }

  &input {
    margin: 13px 0;
    &__border-style {
      border: 1px solid $slate-grey;
    }
  }

  &referral {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    color: $cerulean;
    cursor: pointer;
  }
}
