@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.sub-head__ {
  &container__ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $light-grey;
    width: 100%;
    min-height: 48px;
    padding: 0 48px;

    @include on-medium-device {
      padding: 0 24px;
    }
    

    &items-box {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include on-medium-device {
        display: none;
      }

      &--hidden {
        display: none;
        @include on-medium-device {
          display: flex;
        }
      }

      &--expanded {
        display: none;

        @include on-medium-device {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $light-grey;
          padding: 10px 0;
        }
      }
    }

    &no-cta-box {
      a:last-child {
        margin: 0 !important;
      }
    }
  }

  &current-path {
    display: block;
    font-family: "GothamMedium", serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $blue-grey;
  }

  &text {
    font-family: "GothamLight", serif;
    font-style: normal;
    color: $blue-grey;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 17px;
    margin-right: 48px;
    height: 100%;
    padding: 1px 0;
    margin-top: 2px;

    &:active {
      color: $charcoal-grey;
    }

    &:hover {
      color: $charcoal-grey;
      text-decoration: none;
      opacity: 0.5;
    }

    &--full {
      width: 100%;
      padding: 13px 0 13px 24px;
      margin: 0;
      border-bottom: 0 !important;
    }
  }

  &option--active {
    font-family: "GothamMedium", serif;
    border-bottom: 2px solid $blue-grey;
    color: $blue-grey !important;
  }

  &arrow {
    &-container {
      flex: 1;
      display: none;
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      @include on-medium-device {
        display: flex;
      }
    }

    &--expanded {
      transform: rotate(0.5turn);
    }

    height: 20px;
    width: 20px;
  }
}
