@import "../../assets/stylesheets/variables_/palette";

.arrow-text-field__wrapper--smooth {
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid #dddddd;
  overflow: hidden;
  width: 100%;
}

.arrow-text-field__wrapper--smooth input {
  background-color: $transparent;
}

.arrow-text-field__wrapper {
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid $stale-grey;
  overflow: hidden;
  width: 100%;
  background-color: $transparent;
}

.arrow-text-field__wrapper input {
  background-color: $transparent;
}

.arrow-text-field__wrapper--rounded {
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid $transparent;
  overflow: hidden;
  width: 100%;
}

.arrow-text-field__text-input {
  width: 100%;
  margin: 0 15px;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 16px;
  outline: none;
  border: none;

  &--transparent {
    background-color: $transparent;
  }
}

.arrow-text-field__icon--smooth {
  background-color: $transparent;
  height: 44px;
  width: 42px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  border-left: solid 1px #dddddd;
  cursor: pointer;
}

.arrow-text-field__icon {
  background-color: $transparent;
  height: 44px;
  width: 87px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 1px $stale-grey;
  cursor: pointer;
}

.arrow-text-field__icon__clear-border {
  border-top: unset !important;
  border-right: unset !important;
  border-bottom: unset !important;
}

.arrow-text-field__text {
  cursor: pointer;
  font-family: "OpenSansCondensed", serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 19;
  text-align: center;
  color: $stale-grey;
  user-select: none;
}
