@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.carousel-site-pages__ {
  &container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px 0;

    @include on-mobile {
      padding: 40px 10px;
    }
  }

  &header-title {
    font-family: "GothamMedium", serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: $black;
    text-align: center;
    padding: 48px 0 0 0;

    @include on-mobile {
      font-size: 24px;
    }
  }

  &ctas__ {
    &container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include on-mobile {
        width: 100%;
        flex-direction: column;
      }
    }

    &cta {
      height: 100%;
      margin: 0 10px;

      @include on-mobile {
        width: 100%;
        margin: 5px 0;
      }
    }
  }

  &slides__ {
    &container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 48px 0 0 0;

      @include on-mobile {
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &carousel {
    width: 100%;
    max-width: 1270px;
    margin: -40px 0 0 0;

    &__arrow {
      position: relative;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      z-index: 1;

      &--left {
        top: calc(50% - 40px);
        left: 10px;
        background-image: url("../../assets/images/leftBlackArrowSlick.png");
      }

      &--right {
        bottom: 50%;
        float: right;
        right: 10px;
        background-image: url("../../assets/images/rightBlackArrowSlick.png");
      }

      @include on-mobile {
        display: none;
      }
    }
  }
}

.slick-track {
  @include on-mobile {
    height: 100% !important;
  }
}
