@import "src/assets/stylesheets/variables_/palette";
@import 'src/assets/stylesheets/mixins/responsive';

.overlay__ {
  &container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $shadow;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;

    &--not-full-screen {
      position: absolute;
      background-color: $shadow-25;
    }
  }
}
