@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.hero-foreground__ {
  &left {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6951155462184874) 0%, rgba(0, 0, 0, 0.3029586834733894) 70%);
    padding: 0 57vw 0 10vw;

    @include on-medium-device {
      padding: 0 23vw;

      h1,
      h4 {
        text-align: center;
      }
    }
  }

  &right {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3029586834733894) 30%, rgba(0, 0, 0, 0.6951155462184874) 100%);
    padding: 0 10vw 0 57vw;

    @include on-medium-device {
      padding: 0 34vw 0 12vw;
    }
  }

  &container {
    bottom: 60px;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include on-medium-device {
      width: 100vw;
    }

    @include on-mobile {
      padding: 0 7vw;
    }
  }

  &title {
    font-family: "Gotham", sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 55px;
    font-size: 48px;
    font-style: normal;
    color: $white;
    margin: 0;
    letter-spacing: -0.02em;

    @include on-medium-device {
      font-size: 38px;
      line-height: 44px;
    }
  }

  &sub-title {
    margin: 16px 0 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    font-style: normal;
    color: $white;
    line-height: 32px;

    @include on-medium-device {
      font-size: 18px;
      line-height: 32px;
      margin: 8px 0 24px;
    }
  }

  &body {
    font-family: "Gotham", sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 21px;
    font-size: 16px;
    font-style: normal;
    color: $white;
    word-break: break-word;
    margin: 0 0 32px;

    @include on-medium-device {
      font-size: 14px;
      margin: 0 0 24px;
    }
  }

  &buttons-container {
    display: flex;
    justify-content: center;

    @include on-mobile {
      width: 100%;
      flex-direction: column;
      align-items: center;

      button {
        margin: 0 0 20px 0;
      }
    }
  }

  &cta-image {
    height: 40px;
    width: auto;
    margin: 0 20px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-mobile {
      margin-bottom: 20px;
    }
  }

  &cta-button {
    width: 208px;
    height: 40px;
    margin: 0 20px 0 0;
    padding: 8px 16px;
    cursor: pointer;
    background-color: $cerulean;
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-mobile {
      max-width: 43vw;
      padding: 8px 8px;
      font-size: 13.5px;
    }

    &:hover {
      background-color: $soft-blue;
    }

    &__text {
      font-family: "OpenSansCondensed", sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 1px;
      color: $white;

      @include on-mobile {
        font-size: 13.5px;
      }
    }
  }
}
