@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.productComparison__ {
  &section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $dark_blue;
    color: $white;

    &--dark {
      background-color: $black;
    }

    &--light {
      background-color: $white;
      color: $black;

      .bullet-list__option_description {
        color: $black !important;
      }
    }
  }

  &header {
    font-family: "GothamMedium", serif;
    font-weight: 350;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding: 64px 24px 0 24px;
  }

  &container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1270px;
    padding: 64px 155px;
    width: 100%;

    @include on-medium-device {
      max-width: 768px;
      padding: 40px 24px;
    }
  }

  &divider {
    border: 1px solid $white;
    margin: 0 32px;

    @include on-mobile {
      margin: 0 16px;
    }
  }

  &productSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &image {
    width: 100%;
    max-width: 448px;
    height: 280px;

    @include on-medium-device {
      max-width: 328px;
    }

    @include on-mobile {
      max-width: 147.5px;
      height: 122px;
    }
  }

  &title {
    margin: 24px 0 0 0;
    font-family: "GothamBook", serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    @include on-mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &subTitle {
    margin: 8px 0 0;
    font-family: "GothamLight", serif;
    font-weight: 325;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
  }

  &priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 24px 0;

    @include on-mobile {
      flex-direction: column;
    }

    &__text {
      font-family: "Open Sans", serif;
      font-weight: lighter;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin-right: 8px;

      @include on-mobile {
        margin-right: 0;
      }
    }

    &__price {
      font-family: "GothamMedium", serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }

    &__price-without-sale {
      font-family: "GothamBook", serif;
      font-weight: 325;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      text-decoration: line-through;
      margin-right: 8px;
    }
  }

  &priceInstallments {
    font-family: "Open Sans", serif;
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: $stale-grey;
    @include on-mobile {
      line-height: 20px;
    }
  }

  &priceComment {
    font-family: "Open Sans", serif;
    font-size: 12px;
    margin: 0;
    text-align: center;
    color: $slate-grey;
    @include on-mobile {
      line-height: 20px;
    }
  }

  &uniqueFeature {
    margin: 24px 0 0 0;
    flex: 1;

    .bullet-list__option_description {
      font-family: "Open Sans", serif;
      font-size: 14px;
      line-height: 22px;
      color: white;
    }
  }

  &ctasContainer {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &cta {
    margin-top: 16px;
    width: 400px;
    @include on-medium-device {
      width: 304px;
    }
    @include on-mobile {
      width: 139.5px;
    }
  }

  &separatingLine {
    width: 920px;
    margin: 32px auto 0;
    border-bottom: 1px solid $slate-grey;
    @include on-medium-device {
      width: 664px;
    }
    @include on-mobile {
      width: 327px;
      margin: 24px auto 0;
    }
  }

  &commonFeatures__ {
    &section {
      margin: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include on-medium-device {
        margin: 32px 24px;
      }
      @include on-mobile {
        margin: 24px 27.5px;
      }
    }

    &container {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 24px;
      grid-row-gap: 12px;
      width: 712px;
      background-color: $grey;
      margin: 24px;
      transition-duration: 500ms;
      max-height: 1000px;
      @include on-medium-device {
        width: 656px;
      }
      @include on-mobile {
        grid-template-columns: auto;
        width: 320px;
      }

      &--hidden {
        max-height: 0;
        margin: 0 24px;
      }
    }

    &feature {
      font-family: "Open Sans", serif;
      font-size: 16px;
      text-align: center;

      &--hidden {
        display: none;
      }
    }

    &button {
      font-family: "Open Sans", serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: $cerulean;
      margin-top: 24px;
      text-decoration: underline;
      cursor: pointer;
      @include on-medium-device {
        font-size: 18px;
      }
    }
  }
}
