.builder-image__ {
  &img {
    &--center {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &--left {
      object-fit: cover;
      object-position: left;
      width: 100%;
      height: 100%;
    }

    &--right {
      object-fit: cover;
      object-position: right;
      width: 100%;
      height: 100%;
    }
  }
}
