@import "../../assets/stylesheets/variables_/palette";
@import "../../assets/stylesheets/mixins/responsive";

.information__container > div:last-child {
  margin-bottom: 80px;
}

.information__ {
  &container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $white;
    text-align: center;
    padding: 0 8px;

    &--dark {
      background-color: $dark_blue;
    }

    @include on-mobile {
      padding: 0 31px;
    }
  }

  &title {
    margin: 0 auto 30px;
    font-family: "GothamMedium", sans-serif;
    color: $black;
    line-height: 29px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    max-width: 587px;
    padding: 54px 0 5px !important;

    @include respond-to(medium) {
      font-size: 30px;
    }

    &--dark {
      color: $white;
    }
  }

  &container_description {
    max-width: 587px;
    margin: 0 auto;
    padding-bottom: 32px;

    &--wide-text {
      max-width: 500px;
    }
  }

  &description {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: $black;
    width: 100%;

    &--dark {
      color: $white;
    }
  }

  &line {
    max-width: 352px;
    margin: 0 auto 32px auto;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      right: 50%;
      border-bottom: 4px $black solid;
      width: 240px;
      margin: 0 -120px 0 -120px;
    }

    &--dark {
      &::after {
        border-bottom: 4px $white solid;
      }
    }
  }

  &cta_link {
    text-decoration: none;

      &_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &img_content {
    width: 100%;

    &--medium {
      max-width: 688px;
    }
    &--large {
      max-width: 813px
    }
  }
}
