@import "../../../../assets/stylesheets/variables_/palette";
@import "../../../../assets/stylesheets/mixins/responsive";

.team-carousel__ {

  &content__ {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 257px;
    width: 100%;

    &class-frame__ {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 9px 0 0;

      @include on-mobile {
        margin-right: 24px;
      }

      &image-section {
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        filter: drop-shadow(0 0 3px #BBBBBB);

        &--no-shadow {
          filter: none;
        }
      }

      &title-section {
        display: flex;
        justify-content: center;
        height: 64px;
        font-family: "GothamMedium", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        padding: 23.5px 16px 8px 16px;
        margin-bottom: 0;
        color: $blue-grey;

        &--light{
          color: $white;
        }
      }

      &instagram-section {
        display: flex;
        justify-content: center;
        font-family: "GothamBook", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        color: $blue-grey;

        &--light{
          color: $white;
        }
      }
    }
  }
}
