@import "../../../assets/stylesheets/variables_/palette";
@import "../../../assets/stylesheets/mixins/responsive";

.carousel-site-pages-item__ {
  &container {
    align-items: center;
    justify-content: center;
    width: 340px;
    height: auto;
    margin: 0 12px;

    @include on-mobile {
      margin: 0 0 56px 0;
      width: 100%;
    }

    &--full {
      width: 95%;

      @include on-mobile {
        width: 100%;
      }
    }
  }

  &header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 12px;
  }

  &header-title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin: 0;

    &__arrow {
      margin-left: 16px;
      background-image: url("../../../assets/images/arrow_forward.svg");
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &image {
    width: 100%;
    height: 284px;
    margin-bottom: 16px;
  }
}
