@import "src/assets/stylesheets/mixins/responsive";

.carouselArrowContainer {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1;

  @include on-mobile {
    display: none;
  }

  &--left {
    left: 40.89px;
    background-image: url("../../../../assets/images/leftWhiteArrowWithOpacity.png");
  }

  &--right {
    right: 40.89px;
    background-image: url("../../../../assets/images/rightWhiteArrowWithOpacity.png");
  }
}
