@import "../../../../../../assets/stylesheets/variables_/palette";
@import "../../../../../../assets/stylesheets/mixins/responsive";

.upcoming-class__ {

  &container__ {

    background-color: $white;
    border: 1px solid $slate-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    width: 356px;
    height: 96px;
    margin-left: 16px;
    position: relative;
    border-radius: 4px;

    @include on-medium-device {
      padding: 12px;
      width: 340px;
    }

    @include on-mobile {
      width: calc(100vw - 72px);
      margin: 0 0 0 32px;
    }

    &left-box__ {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      padding-right: 7px;

      @include on-mobile {
        width: 18%;
        padding-right: 10px;
      }

      &day {
        font-size: 14px;
        color: $blue-grey;
        font-family: "GothamLight", serif;
        margin: 0;
        text-align: center;
      }

      &date {
        margin: 0;
        text-align: center;
        font-family: "Open Sans", serif;
        font-size: 14px;
        color: $blue-grey;
      }
    }

    &right-box__ {

      border-left: 1px solid $slate-grey;
      display: flex;
      flex-direction: column;
      padding-left: 12px;
      justify-content: space-between;
      width: 80%;

      @include on-mobile {
        width: 82%;
        padding-left: 10px;
      }

      &name {
        margin: 0;
        font-family: "GothamMedium", sans-serif;
        font-weight: 350;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        color: $black;
        height: 50px;
      }

      &row__ {

        display: flex;
        justify-content: space-between;
        align-items: center;

        &date-duration__ {
          display: flex;

          h4 {
            margin: 0;
            font-family: "Open Sans", serif;
            color: $black;
            font-size: 16px;
            font-weight: normal;
          }

          &middot {
            margin: 0 3px !important;
            font-weight: bolder !important;
            font-size: 18px !important;
          }
        }

        &badge {
          display: flex;
          align-items: center;

          &--item {
            margin: 0 4px 2px 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            color: $white;
          }

          &--text {
            margin: 0;
            padding-bottom: 2px;
            font-family: "GothamBook", sans-serif;
            color: $blue-grey;
            font-size: 14px;
          }
        }
      }
    }
  }
}
