@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.shop-all-item__ {

  &container__ {

    &:nth-child(odd) {
      margin-right: 20px;
    }

    &:nth-child(even) {
      margin-left: 20px;
    }

    width: 400px;
    background: $white;
    box-shadow: 0 4px 32px $shadow-25;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 225px 48px 85px;
    margin-bottom: 40px;
    position: relative;

    @include on-medium-device {
      width: 300px;
    }

    @include on-mobile {
      width: 100%;
      padding: 225px 48px 90px;
      margin: 0 0 40px !important;
    }

    &photo {
      width: 100%;
      height: 224px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    &name {
      margin: 56px 0 16px;
      font-family: "GothamMedium", serif;
      font-weight: 500;
      line-height: 32px;
      font-size: 28px;
      color: $black;
      text-align: center;

      @include on-medium-device {
        font-size: 24px;
      }
    }

    &price {
      font-family: 'GothamMedium', serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin: 0;
      color: $warm-grey-middle;

      &__original{
        text-decoration: line-through;
        margin-right: 10px;
      }
      &__sale{
        color: $cerulean
      }
      @include on-medium-device {
        font-weight: normal;
      }
    }

    &price-clarification {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      color: $warm-grey-middle;
      margin: 12px 0;
    }

    &price-detail {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: $stale-grey;
      margin: 0;
      text-align: center;
    }

    &description {
      margin-bottom: 32px !important;
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
    }

    &include-title {
      font-family: 'GothamMedium', serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $blue-grey;
      margin: 0 0 20px !important;
      text-align: center;
    }

    &item-included {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      color: $stale-grey;
      margin: 0 0 18px !important;
      text-align: center;
    }

    &separator {
      background-color: $slate-grey;
      height: 1px;
      font-size: 1px;
      color: $slate-grey;
      width: 100%;
      margin: 20px 0;
    }

    &cta-box {
      width: 100%;
      display: flex;
      justify-content: center;

      &--button {
        width: 200px;
        font-size: 16px;
        padding: 12px 0;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}
