@import "src/assets/stylesheets/mixins/responsive";
@import "src/assets/stylesheets/variables_/palette";

.hero__ {
  &slider {
    background-color: $black;
    height: calc(100vh - 72px);

    overflow: hidden;

    .slick-current {
      z-index: 1;
    }
  }

  &container {
    height: calc(100vh - 72px);
    width: 100%;
  }

  &video-player {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &carousel {
    height: 100%;
    width: 100%;
  }

  &paging-bar {
    width: 88px;
    height: 4px;
    margin: 0 16px;

    @include on-mobile {
      width: 100%;
      padding: 0 16px;
    }
  }

  &paging-bar-container {
    width: 100vw;
    bottom: 24px;
    margin: 0 !important;
    position: absolute;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    display: none !important;
  }
}
