@import "src/assets/stylesheets/variables_/palette";
@import "src/assets/stylesheets/mixins/responsive";

.main-container {
  display: flex;
  justify-content: center;
  background: $soft-light-blue;
}

.text-with-paralax-images__ {
  &container__ {
    max-width: 1270px;
    display: flex;
    padding: 80px 100px;

    @include on-medium-device {
      flex-direction: column-reverse;
      padding: 80px 48px;
    }

    @include on-mobile {
      padding: 80px 24px;
    }

    &info-container__ {
      width: 45%;

      @include on-medium-device {
        width: 100%;
      }

      &subtitle {
        font-family: "GothamMedium", sans-serif;
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $black;
      }

      &title {
        font-family: "GothamMedium", sans-serif;
        font-style: normal;
        font-weight: 350;
        font-size: 30px;
        line-height: 36px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: $black;
        margin: 16px 0;

        @include on-medium-device {
          font-size: 24px;
          line-height: 29px;
        }
      }

      &body {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $black;
        padding-bottom: 24px;

        @include on-medium-device {
          font-size: 18px;
          line-height: 28px;
        }
      }

      &items-container__ {
        width: 75%;
        @include on-mobile {
          width: 100%;
        }

        &item__ {
          display: flex;
          align-items: flex-start;
          margin-top: 40px;

          &icon {
            width: 25px;
            height: auto;
            object-fit: contain;
            margin-right: 32px;
            padding-top: 5px;
          }

          &text-container__ {
            &title {
              font-family: "GothamMedium", sans-serif;
              font-style: normal;
              font-weight: 350;
              font-size: 18px;
              line-height: 22px;
              display: flex;
              align-items: center;
              text-transform: uppercase;
              color: $black;
              margin: 0 0 8px;
            }

            &body {
              font-family: "Open Sans", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: $black;
            }
          }
        }
      }
    }

    &images-container__ {
      margin: 10% 0 0 5%;
      width: 55%;

      @include on-medium-device {
        width: 90%;
      }

      img {
        filter: drop-shadow(15px 15px 30px rgba(0, 0, 0, 0.25));
      }

      &image1 {
        &-2 {
          position: relative;
          width: 60%;
          aspect-ratio: 3/4;
          object-fit: cover;
        }

        &-3 {
          float: right;
          width: 40%;
          margin-right: 5%;
          aspect-ratio: 1/1.5;
          object-fit: cover;
        }

        &-4 {
          float: right;
          width: 60%;
          aspect-ratio: 3/2;
          object-fit: cover;
        }
      }

      &image2 {
        &-2 {
          float: left;
          margin: -25% 0 0 25%;
          width: 80%;
          aspect-ratio: 4/3;
          object-fit: cover;
        }

        &-3 {
          float: left;
          margin-top: 25%;
          width: 50%;
          aspect-ratio: 3/4;
          object-fit: cover;
        }

        &-4 {
          float: left;
          margin-top: -15%;
          width: 50%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }

      &image3 {
        &-3 {
          float: right;
          margin-top: -10%;
          width: 60%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }

        &-4 {
          float: right;
          margin-top: 20%;
          width: 40%;
          aspect-ratio: 2/3;
          object-fit: cover;
        }
      }

      &image4 {
        &-3 {
          float: right;
          margin-top: -10%;
          width: 60%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }

        &-4 {
          float: left;
          margin: -20% 0 0 10%;
          width: 60%;
          aspect-ratio: 4/3;
          object-fit: cover;
        }
      }
    }
  }
}
